# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Data files (large datasets I don't upload to GitHub)
data/raw/
data/processed/
*.zip
*.tar.gz

# Model checkpoints (large binary files)
checkpoints/*.pth
checkpoints/*.pkl

# config file
!checkpoints/ensemble_config.txt

# Logs
logs/
*.log

# Results images
results/*.png
results/*.jpg

#results directory structure
!results/.gitkeep

# OS files
.DS_Store
Thumbs.db
desktop.ini
*.tmp
*.bak
